In [1]:
import pandas as pd

In [2]:
import time

In [3]:
from datetime import datetime , timedelta

In [4]:
task = pd.DataFrame(columns=['Task_ID','Task_Name','Duration','Start_(Date)','Finish_(Date)'])
resource = pd.DataFrame(columns=['Resource_Name' , 'Type(List)' , 'Material' , 'Max(No.of_Source)%' , 'St.Rate$/hr' , 'Ovt.', 'Cost/Use'])
taskRes = pd.DataFrame(columns=['Task_ID','Task_Name','Duration','Start_(Date)','Finish_(Date)','Resource_Name'])
costtable = pd.DataFrame(columns=['Task_ID','Task_Name','Duration','Start_(Date)','Finish_(Date)','Resource_Name' , 'Cost'])
TotalTable = pd.DataFrame(columns=['Task_ID','Task_Name','Duration','Start_(Date)','Finish_(Date)','Resource_Name' , 'Cost' , 'Total'])

In [5]:
def addTask():
    # creating an empty list 
    global task
    data = []  
    # number of elemetns as input 
    print('Enter the Task value as follow and press ENTER after each value : Task_ID , Task_Name , Duration , Start(Date)')
    print('DO NOT ENTER finish(data) IT WILL COMPUTED DIRECTLY :)')
    # iterating till the range 
    for i in range(0, 4): 
        ele = input()
        data.append(ele) # adding the element 
        
    data[3] = datetime.strptime(data[3], '%d-%m-%Y').date()
  
    
    task = task.append({'Task_ID' : int(data[0]), 'Task_Name':data[1],'Duration':int(data[2]),'Start_(Date)':data[3],'Finish_(Date)':(data[3]+timedelta(days=int(data[2])))} , ignore_index=True)
    
    task.to_csv('task.csv' ,index = False )
    
######################################################################

def addResource():
    # creating an empty list 
    global resource
    data = []  
    # number of elemetns as input 
    print('Enter the Task value as follow and press ENTER after each value :\n Resource Name , Type(List), Material , Max(No.of Source)% , St.Rate$/hr ,Ovt. , Cost/Use')
    print('NOTE: Empty Entry be when you press 0 ineasted of nothing :)')
    print('Type(List) Either be "W" for Work or "M" for Material, just Enter the letter, please')
    # iterating till the range 
    for i in range(0, 7): 
        ele = input()
        data.append(ele) # adding the element
    
#     global resource
    resource = resource.append({'Resource_Name' : data[0], 'Type(List)':data[1],'Material':data[2],'Max(No.of_Source)%':int(data[3]),'St.Rate$/hr':int(data[4]), 'Ovt.':int(data[5]), 'Cost/Use': int(data[6])} , ignore_index=True) 
    
    resource.to_csv('resource.csv', index= False)

In [6]:
## Add resource to Task :
def addTasksRes():
    global task
    global resource
    display(task)
    taskidx = int(input("Enter the (index of Task) you want to add resources to it: "))
    display(resource["Resource_Name"])
    residx = int(input("Enter the (index of Resource) you want to add it to the task: "))
    
    global taskRes
    temp = pd.DataFrame(columns=['Task_ID','Task_Name','Duration','Start_(Date)','Finish_(Date)','Resource_Name'])
    concat = temp.append(task.iloc[taskidx], ignore_index=True)
    concat['Resource_Name'] = resource.iloc[residx][0] 
    taskRes = taskRes.append(concat,ignore_index=True)

    concat.drop(concat.index , inplace=True)
    temp.drop(temp.index , inplace=True)
    
    taskRes.to_csv('taskRes.csv', index= False)

In [33]:
def viewCosttable():
    global taskRes 
    global task
    global resource
    global costtable
    costtable.drop(costtable.index , inplace=True)
    cost = 0
    for i in range(taskRes.shape[0]):
        ResName = [taskRes.iloc[i][5]]
        typeofRes = resource.query("Resource_Name == @ResName")
        typeofRes = typeofRes['Type(List)'][i]
        
        if(typeofRes == 'W'):
            duration = taskRes.iloc[i][2]
            cost = ( resource.query("Resource_Name == @ResName")['St.Rate$/hr'][i] ) * 8 * duration
        elif(typeofRes == 'M'):
            cost = resource.query("Resource_Name == @ResName")['Cost/Use'][i]
            
    ## adding 
    
        temp = pd.DataFrame(columns=['Task_ID','Task_Name','Duration','Start_(Date)','Finish_(Date)','Resource_Name' , 'Cost'])
        concat = temp.append(taskRes.iloc[i], ignore_index=True)
        concat['Cost'] = cost 
        costtable = costtable.append(concat,ignore_index=True)
    
    ## 
        concat.drop(concat.index , inplace=True)
        temp.drop(temp.index , inplace=True)
    
    display(costtable)

In [62]:
#costtable.drop(costtable.index , inplace=True)

In [34]:
def TotalCostTable():
    global costtable
    global Totaltable
    
    temp = costtable.copy()
    display(temp)
    total = temp.Cost.sum(axis=0)
    temp = temp.append(pd.Series(), ignore_index=True)
    
    
    
    ## fill last ROW
    temp.iloc[-1][0] = 'Total'
    for i in range(1,temp.shape[1]-1):
        temp.iloc[-1][i] = ' '
    temp.iloc[-1][-1] = total
    
    Totaltable = temp.copy()
    display(Totaltable)
    temp.drop(temp.index , inplace=True)

In [40]:
def runpmgsys():
    
    print("Hello, This is a small task manager program")
    print("FOLLOW THE INSTRUCTION CAREFULLY, PLEASE :)")
    
    time.sleep(3)
    global task
    global resource 
    global taskRes
    
    task = pd.read_csv('task.csv')
    resource = pd.read_csv('resource.csv')
    taskRes = pd.read_csv('taskRes.csv')
    
    Notfinish = True
    while(Notfinish):
        print("#################) MENU (#################")
        print("Choose from the list of the menu below:")
        print('1] Add Task' , '2] Add Resource' , '3] Add resource to the task')
        choose = int((input('4] View Task table  5] View Resources table\n  6] View Task-Resources Table  7] View Task total  8] View TOTTAL Table  0] TO EXIT')))
    
        print("+++++++++++++++++++++++++++++++++++++++++++")
        #Tracing the choosing: 
        if(choose == 1):
            addTask()
        elif(choose == 2):
            addResource()
        elif(choose == 3):
            addTasksRes()
        elif(choose == 4):
            display(task)
        elif(choose == 5):
            display(resource)
        elif(choose == 6):
            display(taskRes)
        elif(choose == 7):
            viewCosttable()
        elif(choose == 8):
            TotalCostTable()
        elif(choose == 0):
            print("")
            print("#################) See You later :) (#################")
            Notfinish = False
        else:
            print('Please choose right number!')

In [198]:
# task = pd.DataFrame(columns=['Task_ID','Task_Name','Duration','Start_(Date)','Finish_(Date)','Resource_Name'])
# resource = pd.DataFrame(columns=['Resource_Name' , 'Type(List)' , 'Material' , 'Max(No.of_Source)%' , 'St.Rate$/hr' , 'Ovt.', 'Cost/Use'])
# taskRes = pd.DataFrame(columns=['Task_ID','Task_Name','Duration','Start_(Date)','Finish_(Date)','Resource_Name'])
# costtable = pd.DataFrame(columns=['Task_ID','Task_Name','Duration','Start_(Date)','Finish_(Date)','Resource_Name' , 'Cost'])
# TotalTable = pd.DataFrame(columns=['Task_ID','Task_Name','Duration','Start_(Date)','Finish_(Date)','Resource_Name' , 'Cost' , 'Total'])

In [10]:
## Store Table :
task.to_csv('task.csv' ,index = False )
resource.to_csv('resource.csv' , index = False)
taskRes.to_csv('taskRes.csv' , index = False)

In [42]:
runpmgsys()

Hello, This is a small task manager program
FOLLOW THE INSTRUCTION CAREFULLY, PLEASE :)
#################) MENU (#################
Choose from the list of the menu below:
1] Add Task 2] Add Resource 3] Add resource to the task
4] View Task table  5] View Resources table
  6] View Task-Resources Table  7] View Task total  8] View TOTTAL Table  0] TO EXIT4
+++++++++++++++++++++++++++++++++++++++++++

   Task_ID       Task_Name  Duration Start_(Date) Finish_(Date)
0        1          Design         5   2020-01-01    2020-01-06
1        2  implementation         6   2020-02-02    2020-02-08

#################) MENU (#################
Choose from the list of the menu below:
1] Add Task 2] Add Resource 3] Add resource to the task
4] View Task table  5] View Resources table
  6] View Task-Resources Table  7] View Task total  8] View TOTTAL Table  0] TO EXIT5
+++++++++++++++++++++++++++++++++++++++++++

,Resource_Name,Type(List),Material,Max(No.of_Source)%,St.Rate$/hr,Ovt.,Cost/Use
0,Programmer,W,0,100,15,0,0
1,Project Manager,W,0,100,20,0,0

#################) MENU (#################
Choose from the list of the menu below:
1] Add Task 2] Add Resource 3] Add resource to the task
4] View Task table  5] View Resources table
  6] View Task-Resources Table  7] View Task total  8] View TOTTAL Table  0] TO EXIT6
+++++++++++++++++++++++++++++++++++++++++++

,Task_ID,Task_Name,Duration,Start_(Date),Finish_(Date),Resource_Name
0,2,implementation,6,2020-02-02,2020-02-08,Programmer
1,1,Design,5,2020-01-01,2020-01-06,Project Manager

#################) MENU (#################
Choose from the list of the menu below:
1] Add Task 2] Add Resource 3] Add resource to the task
4] View Task table  5] View Resources table
  6] View Task-Resources Table  7] View Task total  8] View TOTTAL Table  0] TO EXIT2
+++++++++++++++++++++++++++++++++++++++++++
Enter the Task value as follow and press ENTER after each value :
 Resource Name , Type(List), Material , Max(No.of Source)% , St.Rate$/hr ,Ovt. , Cost/Use
NOTE: Empty Entry be when you press 0 ineasted of nothing :)
Type(List) Either be "W" for Work or "M" for Material, just Enter the letter, please
Laptop
M
0
0
0
0
1000
#################) MENU (#################
Choose from the list of the menu below:
1] Add Task 2] Add Resource 3] Add resource to the task
4] View Task table  5] View Resources table
  6] View Task-Resources Table  7] View Task total  8] View TOTTAL Table  0] TO EXIT3
+++++++++++++++++++++++++++++++++++++++++++

   Task_ID       Task_Name  Duration Start_(Date) Finish_(Date)
0        1          Design         5   2020-01-01    2020-01-06
1        2  implementation         6   2020-02-02    2020-02-08

Enter the (index of Task) you want to add resources to it: 0

0         Programmer
1    Project Manager
2             Laptop
Name: Resource_Name, dtype: object

Enter the (index of Resource) you want to add it to the task: 2
#################) MENU (#################
Choose from the list of the menu below:
1] Add Task 2] Add Resource 3] Add resource to the task
4] View Task table  5] View Resources table
  6] View Task-Resources Table  7] View Task total  8] View TOTTAL Table  0] TO EXIT6
+++++++++++++++++++++++++++++++++++++++++++

  Task_ID       Task_Name Duration Start_(Date) Finish_(Date)    Resource_Name
0       2  implementation        6   2020-02-02    2020-02-08       Programmer
1       1          Design        5   2020-01-01    2020-01-06  Project Manager
2       1          Design        5   2020-01-01    2020-01-06           Laptop

#################) MENU (#################
Choose from the list of the menu below:
1] Add Task 2] Add Resource 3] Add resource to the task
4] View Task table  5] View Resources table
  6] View Task-Resources Table  7] View Task total  8] View TOTTAL Table  0] TO EXIT8
+++++++++++++++++++++++++++++++++++++++++++

,Task_ID,Task_Name,Duration,Start_(Date),Finish_(Date),Resource_Name,Cost
0,2,implementation,6,2020-02-02,2020-02-08,Programmer,720
1,1,Design,5,2020-01-01,2020-01-06,Project Manager,800

,Task_ID,Task_Name,Duration,Start_(Date),Finish_(Date),Resource_Name,Cost
0,2,implementation,6,2020-02-02,2020-02-08,Programmer,720
1,1,Design,5,2020-01-01,2020-01-06,Project Manager,800
2,Total,,,,,,1520

#################) MENU (#################
Choose from the list of the menu below:
1] Add Task 2] Add Resource 3] Add resource to the task
4] View Task table  5] View Resources table
  6] View Task-Resources Table  7] View Task total  8] View TOTTAL Table  0] TO EXIT7
+++++++++++++++++++++++++++++++++++++++++++

,Task_ID,Task_Name,Duration,Start_(Date),Finish_(Date),Resource_Name,Cost
0,2,implementation,6,2020-02-02,2020-02-08,Programmer,720
1,1,Design,5,2020-01-01,2020-01-06,Project Manager,800
2,1,Design,5,2020-01-01,2020-01-06,Laptop,1000

#################) MENU (#################
Choose from the list of the menu below:
1] Add Task 2] Add Resource 3] Add resource to the task
4] View Task table  5] View Resources table
  6] View Task-Resources Table  7] View Task total  8] View TOTTAL Table  0] TO EXIT8
+++++++++++++++++++++++++++++++++++++++++++

,Task_ID,Task_Name,Duration,Start_(Date),Finish_(Date),Resource_Name,Cost
0,2,implementation,6,2020-02-02,2020-02-08,Programmer,720
1,1,Design,5,2020-01-01,2020-01-06,Project Manager,800
2,1,Design,5,2020-01-01,2020-01-06,Laptop,1000

,Task_ID,Task_Name,Duration,Start_(Date),Finish_(Date),Resource_Name,Cost
0,2,implementation,6,2020-02-02,2020-02-08,Programmer,720
1,1,Design,5,2020-01-01,2020-01-06,Project Manager,800
2,1,Design,5,2020-01-01,2020-01-06,Laptop,1000
3,Total,,,,,,2520

#################) MENU (#################
Choose from the list of the menu below:
1] Add Task 2] Add Resource 3] Add resource to the task
4] View Task table  5] View Resources table
  6] View Task-Resources Table  7] View Task total  8] View TOTTAL Table  0] TO EXIT0
+++++++++++++++++++++++++++++++++++++++++++

#################) See You later :) (#################